<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.njxzc.edu.cn.imtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".FragmentTab"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/MainActivityTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindContactActivity"
            android:theme="@style/Aliwx_ContentOverlay_default" />
        <activity
            android:name=".ContactSystemMessageActivity"
            android:theme="@style/Aliwx_ContentOverlay_default" />
    </application>

</manifest>